.calc-container {
  width: 36%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5% 30%;
  border-radius: 12px;
}

.output {
  background-color:rgb(162, 154, 154);
  width:97%;
  height: 12vh;
}
